html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background: transparent url('./img/main_bg.jpg') center center/cover no-repeat;
}
.hide {
    display: none;
}

.car, .enemy {
    width: 50px;
    height: 100px;
    background: transparent url('./img/car3.png') center / cover no-repeat;
    position: absolute;
    
}
.gameArea{
    width: 300px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background: #271f1c;
    overflow: hidden;
}
.line{
    position: absolute;
    width: 10px;
    height: 50px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
}
.music{
    position: absolute;
    top: -200px;
}
.start{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    z-index: 200;
    color: #fff;
    font-size: 1.5rem;
    background: #271f1c;
    cursor: pointer;
    font-family: san-serif;
    font-weight: 700;
}
.score{
    position: absolute;
    top: 0;
    left: 50%;
    background: transparent;
    padding: 2rem 2rem;
    z-index: 200;
    font-size: 1.5rem;
    color: burlywood;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
}
.best_score{
    position: absolute;
    top: 0;
    left: 39%;
    background: transparent;
    padding: 2rem 2rem;
    z-index: 200;
    font-size: 1.5rem;
    color: burlywood;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
}
.score_result {    
    left: 50%;
    transform: translateX(-50%);
    background: #271f1c;
    padding: 3rem;   
    font-size: 3rem;
    color: #fff;   
    font-weight: 700;    
}
.level{
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-size: 1rem;
    background: #271f1c;
    font-family: san-serif;
    font-weight: 700;
    padding: 2rem;
}
.level_btn{
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}
.level_btn:hover{
    background: #000;
}
